@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header, .bluebody {
  display: flex;
  background-color: #1F2937;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.herologo {
  font-size: 24px; 
  color: #f9faf8;
  font-weight: 900;
}

a, li {
  text-decoration: none;
  list-style: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.bbtext {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  flex-direction: column;
}

.heromain {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

button {
  background-color: #3882d6;
  font-size: 18px;
  color: #E5E7EB;
  box-shadow: none;
  border-radius: 8px;
  border: 0;
}