@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header, .bluebody {
  display: flex;
  background-color: #1F2937;
  align-items: center;
  justify-content: space-around; 
  padding: 8px;
  height: 24px;
}

.bluebody {
  padding: 8px;
  height: 300px;
}

.bbtext {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 500px;
}

.herologo {
  font-size: 24px; 
  color: #f9faf8;
  font-weight: 900;
}

a, li {
  text-decoration: none;
  list-style: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
}



.heromain {
  font-size: 38px;
  color: #F9FAF8;
  font-weight: 900;
}

button {
  background-color: #3882d6;
  font-size: 18px;
  color: #E5E7EB;
  box-shadow: none;
  border-radius: 4px;
  border: 0;
  align-self: flex-start;
  padding: 8px;
  width: 100px;
}

img {
  width: 175px;
}