@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
  font-family: "Nunito Sans"; sans-serif;
  background-color: rgb(72, 76, 142);
  color: #fafafa;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(72, 76, 142);
  color: white;
  font-family: "Lato"; sans-serif;
}